# Enumerate Function

In [1]:
animals = ["Pandas", "Tigers", "Lions", "Zebra", "Khola Bear "]

for index, animals in enumerate(animals):
    print(index, animals)

0 Pandas
1 Tigers
2 Lions
3 Zebra
4 Khola Bear

In [2]:
animals = ["Pandas", "Tigers", "Lions", "Zebra", "Khola Bear "]

for index, animals in enumerate(animals, start=1):
    print(index, animals)

1 Pandas
2 Tigers
3 Lions
4 Zebra
5 Khola Bear

In [4]:
animals = list(enumerate(animals, 1))
print(animals)

[(1, 'K'), (2, 'h'), (3, 'o'), (4, 'l'), (5, 'a'), (6, ' '), (7, 'B'), (8, 'e'), (9, 'a'), (10, 'r'), (11, ' ')]

# Sorted

In [5]:
letters = ["j", "b", "e", "i", "f", "c", "a", "d", "h", "g"]

sorted(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [7]:
numbers = (6,3,7,2,10,1,4,8,5,9)

sorted(numbers, reverse=True)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Zip

In [8]:
firstnames = ["Moe", "Moesteelo", "Mohamed", "Basiri"]
lastnames = ["Ahmed", "nickname", "Ahmed", "Tribe"]

x = zip(firstnames, lastnames)
print(list(x))

[('Moe', 'Ahmed'), ('Moesteelo', 'nickname'), ('Mohamed', 'Ahmed'), ('Basiri', 'Tribe')]

In [10]:
age = [27, 27, 27, 200]

for firstname, lastname, age in zip(firstnames, lastnames, age):
    print(f"{firstname} {lastname} is {age} years old")

Moe Ahmed is 27 years old
Moesteelo nickname is 27 years old
Mohamed Ahmed is 27 years old
Basiri Tribe is 200 years old

In [11]:
y = dict(zip(firstnames, lastnames))
print(y)

{'Moe': 'Ahmed', 'Moesteelo': 'nickname', 'Mohamed': 'Ahmed', 'Basiri': 'Tribe'}

In [16]:
# Unpack lsit of tuples 

fullnames = [("Moe","Ahmed"), ("Moesteelo", "nickname"), ("Mohamed","Ahmed"), ("Basiri", "Tribe")]
firstnames, lastnames = zip(*fullnames)

print(firstnames)
print(lastnames)

('Moe', 'Moesteelo', 'Mohamed', 'Basiri')
('Ahmed', 'nickname', 'Ahmed', 'Tribe')

# Map

In [18]:
numbers = [1,2,3,4,5]

def num_doubler(number):
    return number * 2

x= map(num_doubler, numbers)
print(list(x))

[2, 4, 6, 8, 10]

# Filter

In [20]:
numbers = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

def is_even(numbers):
    return numbers % 2 == 0

x= filter(is_even, numbers)

print(list(x))

[10, 8, 6, 4, 2]

# IsInstance

In [23]:
a = [1,2,3,4,5]
b = (4,2)
c = 'abcde'
d = 8

print(isinstance(a, list))

print(isinstance(b, tuple))

print(isinstance(c, set))

print(isinstance(d, int))

True
True
False
True

# Range

In [24]:
# List if numbers from 0 to 5
print(list(range(6)))

# List of numbers from 1 to 5
print(list(range(1,6)))

# List of even numbers from 2 to 10
print(list(range(2,11,2)))

[0, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

# Round

In [25]:
pi = 3.1415926559

print(round(pi))
print(round(pi, 2))

3
3.14

# Set

In [26]:
a = [1,2,3,4,5,5, "a", "b", "b"]

b = set(a)

print(b)

{1, 2, 3, 4, 5, 'a', 'b'}

# All and Any

In [27]:
# Check if all numbers in the list are even

print(all([number%2 == 0 for number in [2,4,6,8,10]]))

print(all([number%2 == 0 for number in [1,2,3,4,5]]))

True
False

In [28]:
print(any([number%2 == 0 for number in [1,2,3,4,5]]))

print(any([number%2 == 0 for number in [1,3,5,7,9]]))

True
False

# Eval

In [30]:
print(eval("2+4"))

print(eval("2**2"))
           
print(eval("sum([2,4,6])"))

6
4
12

# Format

In [31]:
# Float to two decimals plces
print(format(123.34567897, '.2f'))

# Float to percentage with one decimal place
print(format(0.5746, '.1%'))

# Exponential notation 
print(format(123.456789, '+.2e'))

# Binary
print(format(10, 'b'))

123.35
57.5%
+1.23e+02
1010

In [ ]:
git