# Enumerate Function

In [1]:
animals = ["Pandas", "Tigers", "Lions", "Zebra", "Khola Bear "]

for index, animals in enumerate(animals):
    print(index, animals)

0 Pandas
1 Tigers
2 Lions
3 Zebra
4 Khola Bear

In [2]:
animals = ["Pandas", "Tigers", "Lions", "Zebra", "Khola Bear "]

for index, animals in enumerate(animals, start=1):
    print(index, animals)

1 Pandas
2 Tigers
3 Lions
4 Zebra
5 Khola Bear

In [4]:
animals = list(enumerate(animals, 1))
print(animals)

[(1, 'K'), (2, 'h'), (3, 'o'), (4, 'l'), (5, 'a'), (6, ' '), (7, 'B'), (8, 'e'), (9, 'a'), (10, 'r'), (11, ' ')]

# Sorted

In [5]:
letters = ["j", "b", "e", "i", "f", "c", "a", "d", "h", "g"]

sorted(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [7]:
numbers = (6,3,7,2,10,1,4,8,5,9)

sorted(numbers, reverse=True)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Zip

In [8]:
firstnames = ["Moe", "Moesteelo", "Mohamed", "Basiri"]
lastnames = ["Ahmed", "nickname", "Ahmed", "Tribe"]

x = zip(firstnames, lastnames)
print(list(x))

[('Moe', 'Ahmed'), ('Moesteelo', 'nickname'), ('Mohamed', 'Ahmed'), ('Basiri', 'Tribe')]

In [10]:
age = [27, 27, 27, 200]

for firstname, lastname, age in zip(firstnames, lastnames, age):
    print(f"{firstname} {lastname} is {age} years old")

Moe Ahmed is 27 years old
Moesteelo nickname is 27 years old
Mohamed Ahmed is 27 years old
Basiri Tribe is 200 years old

In [11]:
y = dict(zip(firstnames, lastnames))
print(y)

{'Moe': 'Ahmed', 'Moesteelo': 'nickname', 'Mohamed': 'Ahmed', 'Basiri': 'Tribe'}

In [16]:
# Unpack lsit of tuples 

fullnames = [("Moe","Ahmed"), ("Moesteelo", "nickname"), ("Mohamed","Ahmed"), ("Basiri", "Tribe")]
firstnames, lastnames = zip(*fullnames)

print(firstnames)
print(lastnames)

('Moe', 'Moesteelo', 'Mohamed', 'Basiri')
('Ahmed', 'nickname', 'Ahmed', 'Tribe')